body{
    margin: auto;
    width: 25%;
    text-align: center;
    background-color: lightpink;
    padding: 5px;
    border-radius: 25px;
    }

    h1{
        font-size: 45px;
    }

    h2{
        font-size: 29px;
    }

    p{
       font-size:18px ;
    }