body{
    margin: auto;
    width: 25%;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    background-image: url("https://i.pinimg.com/originals/6b/9e/e0/6b9ee04fa818867c3a6fd30c0ad61bf8.gif");
   }

    h1{
        font-size: 33px;
        font-family:'Times New Roman';
        color: white;
    }

    h2{
        font-size: 21px;
        font-family:'Times New Roman';
        color: white;
    }

    p{
       font-size: 16px ;
       font-family:'Times New Roman';
       color: white;
    }
