body{
    margin: auto;
    width: 25%;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    background-color:blue;
   }

    h1{
        font-size: 25px;
        font-family:'Times New Roman';
        color: oldlace;
    }

    h2{
        font-size: 22px;
        font-family:'Times New Roman';
        color: oldlace;
    }

    p{
       font-size: 21px ;
    }
